{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="shortcut icon" href="#"/>
		<title>历史考试信息</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/examscore.css' %}"/>
        <script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="content">
			<div class="container-left">
				<div class="author-info">
					<a href="#">
						<img src="{{ user.head_img.url }}"/>
					</a>
				</div>
				<p>学号：{{ user.username }}</p>
				<p>姓名：{{ user.name }}</p>
				<a href="{% url 'exam:student_index' %}">考试信息</a>
				<a href="{% url 'exam:history' %}" class="current">考试成绩</a>
                <a href="{% url 'role:logout' %}">退出登陆</a>
			</div>
			<div class="container-right">
				<div class="main">
					<table class="mc-table">
                        <thead>
                            <tr>
                                <th style="">考试名称</th>
                                <th style="min-width: 330px;">考试时间</th>
                                <th style="min-width: 120px;">答题用时</th>
                                <th style="min-width: 90px;">考试分数</th>
                                <th style="min-width: 90px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for examiner in examiners %}
                            <tr>
                                <td>{{ examiner.exam.title }}</td>
                                <td>
                                    <span>{{ examiner.do_start_time|date:"Y-m-d H:i:s" }}</span>
                                    <span>&#126;</span>
                                    <span>{{ examiner.do_submit_time|date:"Y-m-d H:i:s" }}</span>
                                </td>
                                <td>{{ examiner.get_test_time }}</td>
                                <td>{{ examiner.get_test_score }}分</td>

                                <td class="option_btn">
                                    <a href="{% url 'exam:historypaper' examiner.uuid %}" target="_blank"><i class="iconfont icon-tubiao09"></i>查看</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">	
		
	</script>
</html>
