<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超出次数</title>
</head>
<body style="text-align: center;padding: 0;margin: 0">
    <div style="position: relative">
        <div style="position: absolute;margin: auto;width: 600px; height: 380px;top: 400px;right: 0;bottom: 0;left: 0;text-align: left;">
            <p style="font-size: 16px">请求试卷超出5次，无法再次请求，如有需要，请联系管理员</p>
            <p style="font-size: 16px">点击&nbsp;<a href="{% url 'exam:student_index' %}">返回</a>&nbsp;上一页</p>
        </div>
    </div>
</body>
</html>