{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="shortcut icon" href="#"/>
		<title>题库-{{ bank.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/conservator.css' %}"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1713310_b2dr182tlfl.css"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/add_question.css' %}"/>
		<script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/add_question.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/previewimg.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/base.js' %}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="manage-top">
			<p>在线考试系统教师管理</p>
			
			<div>
			    <span>
			    	<a class="a1" href="javascript:void(0)"><img src="{{ user.head_img.url }}"><font>{{ user.name }}</font></a>
			    	<ul style="display: none;">
{#			    		<li><a href="#"><i class="iconfont icon-people1"></i>个人中心</a></li>#}
{#			    		<li><a href="#"><i class="iconfont icon-password"></i>修改密码</a></li>#}
			    		<li><a href="{% url 'role:logout' %}"><i class="iconfont icon-logout1"></i>退出登录</a></li>
			    	</ul>
			    </span>
		   </div>

		</div>
		<div class="manage-content">
			<div class="mc-left">
				<div class="menuList">
					<ul class="menu1">
						<li class="menuli1">
							<a href="{% url 'exam:index' %}" class="menua1">
								<i class="iconfont icon-home1 left"></i>
								<p>教师管理主页</p>
							</a>

						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1">
								<i class="iconfont icon-candidates left"></i>
								<p>考生管理</p>
								<i class="iconfont icon-left1 right"></i>
							</a>
							<ul class="menu2" style="display: none;">
								<li class="menuli2"><a href="{% url 'role:students' %}" class="menua2">考生信息</a></li>
								<li class="menuli2"><a href="{% url 'role:addStudent' %}" class="menua2">添加考生</a></li>
								<li class="menuli2"><a href="{% url 'role:searchStudent' %}" class="menua2">查询信息</a></li>
							</ul>
						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1 active-menu">
								<i class="iconfont icon-tiku1 left"></i>
								<p>题库管理</p>
								<i class="iconfont icon-left1 right"></i>
							</a>
							<ul class="menu2" style="display: block;">
								<li class="menuli2"><a href="{% url 'exam:getbank' %}" class="menua2">题库列表</a></li>
								<li class="menuli2"><a href="{% url 'exam:addbank' %}" class="menua2">添加题库</a></li>
							</ul>
						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1">
								<i class="iconfont icon-fenshijuan left"></i>
								<p>考试管理</p>
								<i class="iconfont icon-left1 right"></i>
							</a>
							<ul class="menu2" style="display: none;">
								<li class="menuli2"><a href="{% url 'exam:exams' %}" class="menua2">考试信息</a></li>
								<li class="menuli2"><a href="{% url 'exam:exameditor' '' %}" class="menua2">添加考试</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="mc-right">
				<div class="mc-title">
					<font><a>题库管理</a><a>&gt;</a><a>试题管理</a><a>&gt;</a><a style="color: #3c8dbc;font-weight: bold;">自动化测试题库</a></font>
					<span class="search-form">
						<form action="{% url 'exam:search_question' bank.uuid %}" method="get">
							<input type="text" name="search_key_info" value=""  placeholder="关键字搜索"/>
							<button type="submit"><i class="iconfont icon-search"></i></button>
						</form>
					</span>
					<span class="tabmenu">
						<div class="btn-group">
							<button onclick="doOpenQuestion('{{ bank.type }}','','{{ bank.uuid }}')"><i class="iconfont icon-add1"></i>新增试题</button>
							<button onclick="importQuestion('{{ bank.uuid }}')"><i class="iconfont icon-up"></i>批量导入</button>
						</div>
					</span>
				</div>
				<div class="mc-body">
                    <div class="append-box" style="max-height: 525px;overflow-y: scroll;">

					<div class="mc-list">
						<table class="mc-table">
							<thead>
								<tr>
									<th style="min-width: 400px;">试题内容</th>
									<th style="min-width: 150px;">题型</th>
									<th style="min-width: 90px;">标准答案</th>
									<th style="min-width: 170px;">更新时间</th>
									<th style="min-width: 190px;">操作</th>
								</tr>
							</thead>
							<tbody>
                                {% for question in questions %}
								<tr target="Questionid" data-rel="{{ question.uuid }}">
									<td><a href="javascript:doOpenQuestion('{{ bank.type }}','{{ question.uuid }}','{{ bank.uuid }}');">{{ question.topic }}</a></td>
									<td>{{ bank.get_type_display }}</td>
									<td>
                                        {% ifequal bank.type 'tf' %}
                                            {{ question.get_answer_display }}
                                        {% else %}
                                            {{ question.answer }}
                                        {% endifequal %}
                                    </td>
									<td>{{ question.last_modified_time|date:'Y-m-d H:i:s' }}</td>
									<td class="option_btn">
										<a href="javascript:doOpenQuestion('{{ bank.type }}','{{ question.uuid }}','{{ bank.uuid }}');"><i class="iconfont icon-tubiao09"></i>编辑</a>
										<a href="javascript:doDeleteQuestion('{{ bank.type }}','{{ question.uuid }}','{{ bank.uuid }}');"><i class="iconfont icon-del"></i>删除</a>
									</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
                    </div>
				</div>
			</div>
		</div>
		<div id="full-screen" style="display: none;"></div>
	</body>
</html>
