*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a:visited {
    text-decoration: none;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a {
    color: #333333;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "微软雅黑";
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(255, 255, 255);
}

.manage-top{
	width: 100%;
    height: 50px;
    background-color: #3c8dbc;
    color: #FFF;
}

.manage-top p {
    float: left;
    margin-left: 20px;
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.manage-top div {
    float: right;
    height: 50px;
}

.manage-top span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.manage-top span a.a1 {
    float: right;
    color: #a3b1cc;
    font-size: 12px;
    margin: 0 10px;
}

.manage-top span a.a1 img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-top: 12.5px;
    margin-right: 5px;
}

.manage-top span a.a1 font {
    float: left;
}

.manage-top span ul {
    background-color: #FFF;
    min-width: 100px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 99;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -o-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    border-radius: 4px;
}

.manage-top span ul li a i {
    margin-right: 5px;
    font-size: 14px;
}

.manage-content{
	width: 1366px;
    height: 120px;
    background-color: #fff;
}

.mc-left{
	width: 200px;
    float: left;
    height: 575px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #263238;
}

.menuList{
	margin-top: 10px;
}

.menuList .menu1 .menuli1 {
    position: relative;
    text-align: left;
}

.menuList .menu1 .menuli1 a:hover,
.menuList .menu1 .menuli1 a.active-menu {
	color: #FFF;
	font-weight: bold;
}

.menuList .menu1 .menuli1 .menua1 .left {
    font-size: 14px;
    color: #b8c7ce;
    margin: 0 15px;
    float: left;
}

.menuList .menu1 .menuli1 .menua1 .right {
    font-size: 16px;
    color: #b8c7ce;
    margin: 0 15px;
    float: right;
}

.menuList .menu2 {
    width: 200px;
    overflow: auto;
    position: relative;
    top: 0px;
    left: 0;
    z-index: 100;
    /*display: none;*/
    background-color: #2c3b41;
    text-align: left;
}

.menuList .menu2 .menuli2 {
    width: 100%;
    height: 40px;
    padding-left: 40px;
}

.menuList .menu2 .menuli2 .menua2 {
    display: block;
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #abb1b7;
}


.menuList .menu1 .menuli1 .menua1 {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #b8c7ce;
}

.menuList .menu1 .menuli1 .menua1 p {
    display: block;
    width: 100px;
    float: left;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mc-right{
	width: 1166px;
    height: 575px;
    background-color: #FFF;
    overflow: hidden;
    float: right;
    border-radius: 4px;
}




