{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#"/>
    <title>页面找不到了</title>
</head>
<body style="margin: 0;padding: 0;background-color: #2B71C8;text-align:center;">
    <div style="position: relative;">
        <div style="position: absolute;margin: auto;width: 600px; height: 380px;background-color: #2B71C8;top: 300px;right: 0;bottom: 0;left: 0;">
        	<p style="color: white;font-size: 120px;">
        		<span>4</span><span style="font-size: 110px;">0</span><span style="font-size: 100px;">4</span><span style="font-size: 90px;">0</span><span style="font-size: 80px;">4</span><span style="font-size: 70px;">0</span><span style="font-size: 60px;">4</span><span style="font-size: 50px;">0</span><span style="font-size: 40px;">4</span>
        	</p>
        	<p style="color: white;">页面不见了</p>
        	<p style="color: white;">PAGE NOT FOUND</p>
        </div>
    </div>
</body>
</html>
