{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="shortcut icon" href="#"/>
		<title>考生信息</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/conservator.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/student_info.css' %}"/>
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1713310_k1bxcvlffm.css"/>
		<script src="{% static 'js/jquery-3.1.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/base.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/editor-student-info.js' %}" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		<div class="manage-top">
			<p>在线考试系统教师管理</p>
				
			<div>
			    <span>
			    	<a class="a1" href="javascript:void(0)"><img src="{{ user.head_img.url }}"><font>{{ user.name }}</font></a>
			    	<ul style="display: none;">
{#			    		<li><a href="#"><i class="iconfont icon-people1"></i>个人中心</a></li>#}
{#			    		<li><a href="#"><i class="iconfont icon-password"></i>修改密码</a></li>#}
			    		<li><a href="{% url 'role:logout' %}"><i class="iconfont icon-logout1"></i>退出登录</a></li>
			    	</ul>
			    </span>
		   </div>
			
		</div>
		<div class="manage-content">
			<div class="mc-left">
				<div class="menuList">
                    <ul class="menu1">
						<li class="menuli1">
							<a href="{% url 'exam:index' %}" class="menua1">
								<i class="iconfont icon-home1 left"></i>
								<p>教师管理主页</p>
							</a>

						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1 active-menu">
								<i class="iconfont icon-candidates left"></i>
								<p>考生管理</p>
								<i class="iconfont icon-bottom right"></i>
							</a>
							<ul class="menu2" style="display: block;">
								<li class="menuli2"><a href="{% url 'role:students' %}" class="menua2 active-menu">考生信息</a></li>
								<li class="menuli2"><a href="{% url 'role:addStudent' %}" class="menua2">添加考生</a></li>
								<li class="menuli2"><a href="{% url 'role:searchStudent' %}" class="menua2">查询信息</a></li>
							</ul>
						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1">
								<i class="iconfont icon-tiku1 left"></i>
								<p>题库管理</p>
								<i class="iconfont icon-left1 right"></i>
							</a>
							<ul class="menu2" style="display: none;">
								<li class="menuli2"><a href="{% url 'exam:getbank' %}" class="menua2">题库列表</a></li>
								<li class="menuli2"><a href="{% url 'exam:addbank' %}" class="menua2">添加题库</a></li>
							</ul>
						</li>
						<li class="menuli1">
							<a href="javascript:void(0);" class="menua1">
								<i class="iconfont icon-fenshijuan left"></i>
								<p>考试管理</p>
								<i class="iconfont icon-left1 right"></i>
							</a>
							<ul class="menu2" style="display: none;">
								<li class="menuli2"><a href="{% url 'exam:exams' %}" class="menua2">考试信息</a></li>
								<li class="menuli2"><a href="{% url 'exam:exameditor' '' %}" class="menua2">添加考试</a></li>
							</ul>
						</li>
					</ul>
                </div>
			</div>
			<div class="mc-right">
				<div class="mc-title">
					<font><a>考生管理</a><a>&gt;</a><a>考生信息</a></font>
				</div>
				<div class="mc-body">
					<div class="mc-list">
						<table class="mc-table">
							<thead>
								<tr>
									<th style="min-width: 120px;">学号</th>
									<th style="min-width: 90px;">姓名</th>
									<th style="min-width: 60px;">性别</th>
									<th style="min-width: 140px;">手机号</th>
									<th style="max-width: 120px;">邮箱</th>
									<th>状态</th>
									<th style="min-width: 170px;">操作</th>
								</tr>
							</thead>
							<tbody>
                                {% for student in students %}
                                    <tr data-stuid = "{{ student.student.username }}">
                                        <td>{{ student.student.username }}</td>
                                        <td>{{ student.student.name }}</td>
                                        <td>{{ student.student.get_sex_display }}</td>
                                        <td>{{ student.student.phone }}</td>
                                        <td>{{ student.student.email }}</td>
                                        <td class="Switch">
                                            {% if student.status %}
                                                <input type="checkbox" name="Storage{{ student.id }}" id="blance{{ student.id }}" checked="true">
                                            {% else %}
                                                <input type="checkbox" name="Storage{{ student.id }}" id="blance{{ student.id }}">
                                            {% endif %}
                                            <label for="blance{{ student.id }}"><em></em></label>
                                        </td>
                                        <td>
                                            <button class="mctb-button editor-stu-info"><i class="iconfont icon-tubiao09"></i>编辑</button>
                                            <button class="mctb-button delete-stu-info"><i class="iconfont icon-del"></i>删除</button>
                                        </td>
                                    </tr>
                                 {% endfor %}
							</tbody>
						</table>
					</div>
					<div class="mc-page-card">
						<ul class="c-pager">
							<li class="ys-pager-btn"><a href="?page={{ 1 }}">首页</a></li>
                            {% if students.has_previous %}
                                <li class="ys-pager-btn"><a href="?page={{ students.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            {% for page in pages %}
                                <li class="ys-pager-item {% if students.number == page %}ys-cur-pager{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                            {% if students.has_next %}
							    <li class="ys-pager-btn"><a href="?page={{ students.next_page_number }}">下一页</a></li>
                            {% endif %}
							<li class="ys-pager-btn"><a href="?page={{ students.paginator.num_pages }}">尾页</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		
		<div id="full-screen" style="display: none;"></div>
		
	</body>
</html>
